body{
	margin: 0;
	padding: 0;
	background-color: #4FC3F7;
}


.section {
	width: 50%;
	background-color: white;
	border-radius: 25px;
	margin: 20px auto;
	padding: 30px 0;
}

.section img {
	width: 30%;
	padding: 20px 35% 0 35%;
}

.section h1 {
	margin: 25px 0;
	text-align: center;
}

.section span {
	font-size: 20px;
	text-align: center;
	display: block;
}

.section table {
	width: 60%;
	margin: 0 20% 0 20%;
}
.section td {
	padding-top: 15px;
	font-size: 20px;
}

.radius__and_margin{
	border-radius: 25px;
	margin: auto;
	background-color: white;
	width: 50%;
}